body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Helvetica,Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",SimSun,"宋体",Heiti,"黑体",sans-serif;
}

.editor {
  box-sizing: border-box;
}

.highlight {
  background: #ffeeba;
}

.editor-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(~"100% - 48px");
  /* margin-bottom: 40px; */
}

.markdown-body {
  width: 80%;
  box-sizing: border-box;
  margin: auto;
  background: white;
  padding: 50px 100px 20px 100px;
  margin-bottom: 40px;
  box-shadow: 0 1px 6px #ccc;
}


ol, ul {
  padding-left: 0;
}

.editor ul li, .editor li {
  margin-left: 40px;
}

.editor ul ul li {
  margin-left: 60px;
}

.editor ul ul ul li {
  margin-left: 80px;
}